<app-header></app-header>

<div class="container loginBlock center">
  <div class="row">
    <div
      *ngIf="errorMessage"
      class="alert alert-danger alert-dismissible fade show"
      role="alert"
    >
      <strong>Oops!</strong> OTP Verification Failed
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        (click)="clearErrorMessage()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="row">
    <form #otpForm="ngForm" (ngSubmit)="submitOTP()" class="form">
      <input type="text" #otpInput="ngModel" required placeholder="Enter OTP" [(ngModel)]="otp" name="otp" style="height: 50px; margin-top: 60%;" />
      <br />
      <span style="margin-left:30%">Your OTP : {{ yourotp }}</span>
      <span *ngIf="otpInput.errors && otpInput.touched && otpInput.invalid" class="textDanger">
        Please enter the OTP.
      </span>
      <br />
      <input type="submit" value="Submit OTP" />
    </form>
  </div>
</div>
