<app-header> </app-header>
<div class="mainBlock">
    <div class="row">
        <div class="col-12 welcome_img">
            <img src="assets/logo.png">
        </div>
        <div class="col-12 welcome_text">
        </div>
    </div>
    <div class="row submit_btn justify-content-center">
        <div class="col-6">
            <input type="submit" value="Login" routerLink="/otp" class="loginBtn">
        </div>
        <div class="col-6">
            <input type="submit" value="Register" routerLink="/register" class="registerBtn">
        </div>
    </div>
</div>

<router-outlet></router-outlet>