<div class="container loginBlock">
    <div class="row">
        <div class="col-12 welcome_text">
            <i routerLink="/dashboard" class="fa fa-angle-double-left"></i>
            <h2>Become a Member</h2>
            <p>Create an account so you can explore all the existing jobs</p>
        </div>
    </div>
    <div class="row">
        <form #memberForm="ngForm" (ngSubmit)="addMember()" class="form">
            <input type="text" required name="name" placeholder="Name" [(ngModel)]="name">
            <br><span *ngIf="memberForm.controls['name'].invalid && (memberForm.controls['name'].dirty || memberForm.controls['name'].touched)" class="textDanger">Please enter a name</span>
            
            <input type="tel" required name="phone" placeholder="Mobile no" [(ngModel)]="phone">
            <br><span *ngIf="memberForm.controls['phone'].invalid && (memberForm.controls['phone'].dirty || memberForm.controls['phone'].touched)" class="textDanger">Please enter a valid number</span>
            
            <input type="text" required name="address" placeholder="Address" [(ngModel)]="address">
            <br><span *ngIf="memberForm.controls['address'].invalid && (memberForm.controls['address'].dirty || memberForm.controls['address'].touched)" class="textDanger">Please enter an address</span>
            
            <input type="email" required name="email" placeholder="Email" [(ngModel)]="email">
            <br><span *ngIf="memberForm.controls['email'].invalid && (memberForm.controls['email'].dirty || memberForm.controls['email'].touched)" class="textDanger">Please enter a valid email</span>
            
            <input type="password" required name="password" placeholder="Password" [(ngModel)]="password">
            <br><span *ngIf="memberForm.controls['password'].invalid && (memberForm.controls['password'].dirty || memberForm.controls['password'].touched)" class="textDanger">Please enter a valid password (at least 8 characters)</span>
            
            <input type="submit" value="Submit" [disabled]="memberForm.invalid">
        </form>
    </div>
</div>
<app-footer></app-footer>
