<app-dashboard-header></app-dashboard-header>
<div class="container dashboard">
    <div *ngFor="let data of posts" class="project-details">
        <div class="project-header">
            <p><strong>Project Details</strong></p>
        </div>
        <div class="project-info">
            <div class="project-details-item">
                <p><strong>ID:</strong> {{ data.id }}</p>
                <p><strong>Active:</strong> {{ data.active ? 'Yes' : 'No' }}</p>
                <p><strong>Approved:</strong> {{ data.is_approved ? 'Yes' : 'No' }}</p>
                <p><strong>Last Update:</strong></p> 
                <p>{{ data.update ? data.update : 'N/A' }}</p>
            </div>
            <div class="project-details-item">
                <p><strong>Likes:</strong> {{ data.likes }}</p>
                <p><strong>Comments:</strong> {{ data.comments_count }}</p>
                <p><strong>Added Date:</strong> {{ data.addeddateTime | date }}</p>
            </div>
            <div class="project-details-item">
                <p><strong>Content:</strong></p>
                <p>{{ data.content }}</p>
            </div>
            <button class="my-button" (click)="openModal()">Make an Update</button>
            <button class="my-button" (click)="opendonateModal()">Make a Donation</button>
        </div>
        <!-- <div class="project-image">
            <img [src]="data.photo" alt="Post Photo">
        </div> -->
    </div>
    <app-footer class="footer"></app-footer>
</div>
