<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Donate Now</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
</div>
<div class="modal-body">
    <form (ngSubmit)="donateNow()">
        <div class="form-outline" data-mdb-input-init>
            Name:
            <input type="text" id="name" class="form-control" [(ngModel)]="formData.name" name="name" />
            <label class="form-label" for="name"></label>
        </div><br>
        <div class="form-outline" data-mdb-input-init>
            Icon
            <label class="form-label" for="icon"></label>

            <input type="file" class="form-control" id="icon" [(ngModel)]="formData.icon" name="icon" (change)="onFileSelected($event)"/>
        </div><br>
        <div class="form-outline" data-mdb-input-init>
            Amount
            <input type="number" id="amount" class="form-control" [(ngModel)]="formData.amount" name="amount" />
            <label class="form-label" for="amount"></label>
        </div>
        <button type="submit" class="btn btn-primary">Donate</button>
    </form>
</div>
<div class="modal-footer">
</div>
